.header {
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.thumbnail > h2 {
  font-size: 3.0rem;
}

.thumbnail > h3 {
  font-size: 2.4rem;
}

.thumbnail > small {
  font-size: 1.8rem;
}
