/* Firefolio Backend CSS MIT License */

form.login {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 16px;
}

nav {
	overflow: hidden;
}

nav > ul {
	list-style: none;
	margin: auto;
	height: 32px;
}

nav > ul > .u-pull-left > li {
	display: block;
	text-decoration: none;
	float: left;
	padding: 16px 16px;
}

nav > ul > .u-pull-right > li {
	display: block;
	text-decoration: none;
	float: left;
	padding: 16px 16px;
}

.project {
	/* TODO: add styles to projects */
}

.u-view-height {
	height: 100vh;
	position: relative;
}

.u-center-vertical {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

.u-center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: 50%;
}

#error {
	color: #FF0000;
}
