body,
html {
  background-color: #FAFAFA;
}

img.responsive {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;
}

.header {
  margin-top: 32px;
  margin-bottom: 32px;
}

.content {
  background-color: white;
  padding: 32px;
}

.footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.thumbnail {
  margin: 16px;
}

.thumbnail > img {
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  padding: 2px;
}

.thumbnail > h2 {
  font-size: 3.0rem;
}

.thumbnail > h3 {
  font-size: 2.4rem;
}

.thumbnail > small {
  font-size: 1.8rem;
}
