/* Firefolio Backend CSS MIT License */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Globals */
* {
	font-family: 'Open Sans', sans-serif;
}

body,
html {
	height: 100%;
	margin: 0;
	background-color: #EEDDC9;
}

/* HTML Elements */
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6,
thead {
	font-family: 'Philosopher', sans-serif;
}

/* Inputs */
input {
	border-radius: 0 !important;
}

/* Anchors */
a {
	color: #DF7B3F;
	text-decoration: none;
}

a:hover {
	color: #AA492A;
	text-decoration: underline;
}

/* Buttons */
.button {
	font-family: 'Open Sans', sans-serif;
	border-radius: 0 !important;
}

.button.back {
	border-radius: 0;
}

.button.button-primary {
	color: #FAFAFA;
	background-color: #DF7B3F;
	border-color: #DF7B3F;
}

.button.button-primary:hover {
	background-color: #AA492A;
	border-color: #DF7B3F;
}

.button.button-primary:focus {
	background-color: #AA492A;
	border-color: #DF7B3F;
}

/* Previews */
#thumbnail-preview {
	margin: 4px;
	padding: 4px;
	border: 1px solid lightgrey;
}

#trailer-preview {
	margin: 4px;
	padding: 4px;
	border: 1px solid lightgrey;
}

.screenshot-preview {
	margin: 4px;
	padding: 4px;
	border: 1px solid lightgrey;
}

/* Container */
.container {
	background-color: #FAFAFA;
	padding: 32px;
}

/* Forms */
form.login {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 16px;
}

/* Navigation Bar */
/* (Mobile Version) */
nav {
	background-color: #FFFFFF;
	overflow: hidden;
}

nav ul li {
	list-style: none;
	padding: 8px;
	display: none;
}

/* Show the firefolio icon that pulls down the navbar */
#open-navbar {
	display: block;
}

/* Display all navbar items when active */
nav.active ul li {
	display: block;
}

/* Utilities */

.u-view-height {
	height: 100vh;
	position: relative;
}

.u-center-vertical {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}

.u-center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: 50%;
}

/* Form error message */
#error {
	color: #FAFAFA;
	width: 100%;
	height: auto;
	background-color: #CE5C54;
	padding: 8px;
}

/* Media Queries */
/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1000px) {
	/* Navigation Bar */
	/* (Desktop Version) */
	nav {
		background-color: #FFFFFF;
		overflow: hidden;
		text-decoration: none;
	}

	nav > ul {
		list-style: none;
		margin: auto;
		height: 32px;
	}

	nav > ul li {
		font-size: 1.6rem;
		margin-bottom: 0px;
	}

	nav > ul > .u-pull-left > li {
		display: block;
		text-decoration: none;
		float: left;
		padding: 16px 16px;
	}

	nav > ul > .u-pull-right > li {
		display: block;
		text-decoration: none;
		float: left;
		padding: 16px 16px;
	}
}

/* Selection Colours */
::-moz-selection {
    background: #e8934a;
    text-shadow: none;
}

::selection {
    background: #e8934a;
    text-shadow: none;
}
