<p>
  <img
  width="16px"
  height="16px"
  src="{base_url}img/icons/open-iconic/person.svg"
  alt="User Icon">
  Logged in as {username}
  <br>
  <a href="{base_url}{index_page}/backend/projects">
    <img
    width="16px"
    height="16px"
    src="{base_url}img/icons/open-iconic/dashboard.svg"
    alt="Icon">
    Backend
  </a>
  <br>
  <a href="{base_url}{index_page}/login/logout">
    <img
    width="16px"
    height="16px"
    src="{base_url}img/icons/open-iconic/account-logout.svg"
    alt="Icon">
    Logout
  </a>
</p>
