<!doctype html>
<html class="no-js">
  <head>
    <title>{full_name}</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{base_url}css/normalize.css">
    <link rel="stylesheet" href="{base_url}css/boilerplate.css">
    <link rel="stylesheet" href="{base_url}css/skeleton.css">
    <link rel="stylesheet" href="{base_url}css/main.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong>
        browser. Please <a href="https://browsehappy.com/">upgrade your
        browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="container content">
      <header class="row header">
        <div class="one-full column">
          <a href="{base_url}">
            <h1>{full_name}</h1>
          </a>
        </div>
      </header>

      <!-- Hidden Inputs -->
      <!-- Base URL -->
      <input
      id="base-url"
      type="hidden"
      name="base_url"
      value="{base_url}">
      <!-- Index Page -->
      <input
      id="index-page"
      type="hidden"
      name="index_page"
      value="{index_page}">
      <!-- Anti CSRF -->
      <input
      id="csrf"
      type="hidden"
      name="{csrf_name}"
      value="{csrf_hash}">

      <!-- Search Form -->
      <section class="row">
        <!-- String -->
        <div class="three columns">
          <label for="language">Search</label>
          <input
          id="search"
          class="u-full-width"
          type="text"
          name="search"
          value=""
          placeholder="Keywords">
        </div>
        <!-- Through -->
        <div class="three columns">
          <label for="columns">Category</label>
          <select id="like" class="u-full-width" name="language">
            {categories}
             <option value="{name}">{name}</option>
            {/categories}
          </select>
        </div>
        <!-- By -->
        <div class="three columns">
          <label for="columns">Order By</label>
          <select id="by" class="u-full-width" name="language">
            {orders}
              <option value="{name}">{name}</option>
            {/orders}
          </select>
        </div>
        <!-- Sort Order -->
        <div class="three columns">
          <label for="order">Sort</label>
          <select id="order" class="u-full-width" name="order">
            <option value="ASC">Ascending</option>
            <option value="DESC" selected>Descending</option>
            <option value="RANDOM">Random</option>
          </select>
        </div>
      </section>

      <hr>

      <!-- Output all of the projects as a responsive grid,
      where the number of projects on each row is calculated on the server -->
      <div id="projects">
        {rows}
          <section class="row">
            {projects}
              <div class="four columns">
                <a href="{base_url}{index_page}/project/{uri}" class="thumbnail">
                  <h2>{title}</h2>
                  <img
                  class="responsive"
                  src="{thumbnail}"
                  alt="{title} Project Thumbnail">
                  <h3>{subtitle}</h3>
                  <small>{language}, {date}</small>
                </a>
              </div>
            {/projects}
          </section>
        {/rows}
      </div>

      <hr>

      <footer class="footer">
        <div class="row">
          <div class="two-thirds column">
            <!-- Biography -->
            <i>
              {biography}
            </i>
            <br>
            <small>Copyright &copy; {full_name} {year}</small>
          </div>
          <div class="one-third column">
            <div class="u-pull-right">
              {login}
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="{base_url}js/firefolio/portfolio/search.js"></script>
    <script src="{base_url}js/utilities/ajax.js"></script>
    <script src="{base_url}js/utilities/debounce.js"></script>
    <script src="{base_url}js/utilities/fallback.js"></script>
  </body>
</html>
