<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <link rel="stylesheet" href="{base_url}css/normalize.css">
        <link rel="stylesheet" href="{base_url}css/boilerplate.css">
        <link rel="stylesheet" href="{base_url}css/skeleton.css">
        <link rel="stylesheet" href="{base_url}css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="container">
          <header class="row header">
            <div class="one-full column">
              <a href="#">
                <h1>{title}</h1>
              </a>
            </div>
          </header>

          <!-- Search Bar -->
          <section class="row">
            <div class="one-full column">
              <input
              id="search"
              class="u-full-width"
              type="text"
              name="search"
              value=""
              placeholder="Search">
            </div>
          </section>

          <hr>

          <div class="content">
            {rows}
              <section class="row">
                {projects}
                  <div class="four columns">
                    <a href="index.php/project/{uri}" class="thumbnail">
                      <h2>{title}</h2>
                      <img
                      class="responsive"
                      src="{thumbnail}"
                      alt="{title} Project Thumbnail">
                      <h3>{subtitle}</h3>
                      <small>{language}, {date}</small>
                    </a>
                  </div>
                {/projects}
              </section>
            {/rows}
          </div>

          <hr>

          <footer class="row footer">
            <small>Copyright &copy; {title} 2018</small>
          </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    </body>
</html>
