<!doctype html>
<html class="no-js">
  <head>
    <title>{title}</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{base_url}css/normalize.css">
    <link rel="stylesheet" href="{base_url}css/boilerplate.css">
    <link rel="stylesheet" href="{base_url}css/skeleton.css">
    <link rel="stylesheet" href="{base_url}css/main.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong>
        browser. Please <a href="https://browsehappy.com/">upgrade your
        browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="container content">
      <header class="row header">
        <a href="{base_url}">
          <h1>{full_name}</h1>
        </a>
      </header>

      <section class="row">
        <div class="one-half column">
          <h2>{title}</h2>
          <h3>{subtitle}</h3>
          <h4>Details</h4>
          <ul>
            <li>
              <strong>Written in:&nbsp;</strong>
              {language}
            </li>
            <li>
              <strong>Date:&nbsp;</strong>
              {date}
            </li>
          </ul>
        </div>
        <div class="one-half column">
          {trailer}

          <h4>Description</h4>
          {description}
        </div>
      </section>

      <footer class="row footer">
        <small>Copyright &copy; {name}</small>
      </footer>
    </div>
  </body>
</html>
