<!doctype html>
<html class="no-js">
  <head>
    <title>Create Project - {application_name}</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{base_url}css/normalize.css">
    <link rel="stylesheet" href="{base_url}css/boilerplate.css">
    <link rel="stylesheet" href="{base_url}css/skeleton.css">
    <link rel="stylesheet" href="{base_url}css/firefolio.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong>
        browser. Please <a href="https://browsehappy.com/">upgrade your
        browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Navigation Bar -->
    {navbar}

    <div class="container">
      <header class="row">
        <h1>Create Project</h1>
      </header>

      <!-- Hidden Inputs -->
      <!-- Base URL -->
      <input
      id="base-url"
      type="hidden"
      value="{base_url}">
      <input
      id="index-page"
      type="hidden"
      value="{index_page}">
      <input
      id="csrf"
      type="hidden"
      name="{csrf_name}"
      value="{csrf_hash}">

      <div class="content">
        <section class="row">
          <div class="one-full column">
            {form}

              <div class="row">
                <div class="one-half column">
                  <button type="submit" name="create">
                    Create
                  </button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>

    <!-- Scripts -->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{base_url}js/vendor/jquery-ui-1.12.1/jquery-ui.min.css">

    <!-- Utilities -->
    <script src="{base_url}js/utilities/fallback.js"></script>
    <script src="{base_url}js/utilities/ajax.js"></script>
    <script src="{base_url}js/utilities/debounce.js"></script>

    <!-- Firefolio -->
    <script src="{base_url}js/firefolio/project/description.js"></script>
    <script src="{base_url}js/firefolio/project/thumbnail.js"></script>
    <script src="{base_url}js/firefolio/project/trailer.js"></script>
    <script src="{base_url}js/firefolio/datepicker.js"></script>
    <script src="{base_url}js/firefolio/languages/autocomplete.js"></script>
    <script src="{base_url}js/firefolio/project/create.js"></script>
  </body>
</html>
