<!doctype html>
<html class="no-js">
  <head>
    <title>Update {header} - {application_name}</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{base_url}css/normalize.css">
    <link rel="stylesheet" href="{base_url}css/boilerplate.css">
    <link rel="stylesheet" href="{base_url}css/skeleton.css">
    <link rel="stylesheet" href="{base_url}css/firefolio.css">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="https://browsehappy.com/">upgrade your
      browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Navigation Bar -->
    {navbar}

    <!-- Hidden Inputs -->
    <!-- Base URL -->
    <input
    id="base-url"
    type="hidden"
    value="{base_url}">
    <input
    id="index-page"
    type="hidden"
    value="{index_page}">
    <input
    id="csrf"
    type="hidden"
    name="{csrf_name}"
    value="{csrf_hash}">

    <div class="container">
      <header class="row">
        <!-- We use {header} instead of {title} here because it's had its markup escaped -->
        <h1>Update {header}</h1>
      </header>

      <!-- Content -->
      <div class="tabbed">
        <!-- Tabs List -->
        <ul>
          <li>
            <a href="#tab-1">
              <img
              src="{base_url}img/icons/open-iconic/info.svg"
              alt="Information Icon">
              Information
            </a>
          </li>
          <li>
            <a href="#tab-2">
              <img
              src="{base_url}img/icons/open-iconic/image.svg"
              alt="Screenshot Icon">
              Screenshots
            </a>
          </li>
          <li>
            <a href="#tab-3">
              <img
              src="{base_url}img/icons/open-iconic/link-intact.svg"
              alt="Link Icon">
              Hyperlinks
            </a>
          </li>
        </ul>
        <!-- Tabs -->
        <!-- Form -->
        <div id="tab-1">
          <section class="row">
            <div class="one-full column">
              {form}
            </div>
          </section>
        </div>
        <!-- Screenshots -->
        <div id="tab-2">
          <div class="row">
            <div class="three columns">
              <a
              id="add-screenshot"
              class="button u-full-width">
                Insert
              </a>
            </div>
          </div>
          <!-- Screenshots -->
          <div id="screenshots">
            {screenshots}
          </div>
        </div>
        <!-- Hyperlinks -->
        <div id="tab-3">
          <div class="row">
            <div class="three columns">
              <a
              id="insert-hyperlink"
              class="button u-full-width"
              data-type="project">
                Insert
              </a>
              <input
              id="hyperlink-type"
              type="hidden"
              name="hyperlink_type"
              value="project">
            </div>
          </div>
          <div id="hyperlinks">
            {hyperlinks}
          </div>
        </div>
      </div>

      <hr>

      <!-- Control Buttons -->
      <div class="row">
        <div class="three columns">
          <button
          id="finish"
          class="button button-primary u-full-width"
          type="submit"
          name="finish">
            Finish
          </button>
        </div>
        <div class="three columns">
          <a
          id="save"
          class="button u-full-width">
            Save
          </a>
        </div>
        <div class="three columns">
          <button
          class="u-full-width"
          type="reset"
          name="reset">
            Reset
          </button>
        </div>
        <div class="three columns">
          <a
          class="button u-full-width"
          href="{base_url}{index_page}/backend/projects">
            Cancel
          </a>
        </div>
      </div>

      <footer class="row">
        <small>
          {application_name} Copyright &copy; 2018 Callum John @ItsSeaJay
        </small>
      </footer>
    </div>

    <!-- Modal -->
    <div id="modal" title="Alert" style="z-index: 2" hidden>
      <p>
        Are you sure you want to navigate away from the page?
        All unsaved data will be lost...
      </p>
    </div>

    <!-- Scripts -->
    <!-- Libraries -->
    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- JQuery UI -->
    <script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	  crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Utilities -->
    <script src="{base_url}js/utilities/fallback.js"></script>
    <script src="{base_url}js/utilities/generate_uri.js"></script>
    <script src="{base_url}js/utilities/ajax.js"></script>
    <script src="{base_url}js/utilities/debounce.js"></script>
    <script src="{base_url}js/utilities/tabs.js"></script>
    <script src="{base_url}js/utilities/modal.js"></script>

    <!-- Firefolio -->
    <!-- Screenshots -->
    <script src="{base_url}js/firefolio/screenshot/insert.js"></script>
    <script src="{base_url}js/firefolio/screenshot/update.js"></script>
    <script src="{base_url}js/firefolio/screenshot/delete.js"></script>
    <script src="{base_url}js/firefolio/screenshot/preview.js"></script>
    <!-- Hyperlinks -->
    <script src="{base_url}js/firefolio/hyperlinks/insert.js"></script>
    <script src="{base_url}js/firefolio/hyperlinks/update.js"></script>
    <script src="{base_url}js/firefolio/hyperlinks/delete.js"></script>
    <!-- Project -->
    <script src="{base_url}js/firefolio/project/update.js"></script>
    <script src="{base_url}js/firefolio/project/description.js"></script>
    <script src="{base_url}js/firefolio/project/thumbnail.js"></script>
    <script src="{base_url}js/firefolio/project/trailer.js"></script>
    <!-- General -->
    <script src="{base_url}js/firefolio/datepicker.js"></script>
    <script src="{base_url}js/firefolio/languages/autocomplete.js"></script>
  </body>
</html>
