<!doctype html>
<html class="no-js">
  <head>
    <title>Update {header} - {application_name}</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{base_url}css/normalize.css">
    <link rel="stylesheet" href="{base_url}css/boilerplate.css">
    <link rel="stylesheet" href="{base_url}css/skeleton.css">
    <link rel="stylesheet" href="{base_url}css/firefolio.css">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="https://browsehappy.com/">upgrade your
      browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Navigation Bar -->
    <!-- This can't use the navbar from the template parser because verification is
    needed -->
    <nav class="clearfix">
      <ul>
        <div class="u-pull-left">
          <li>
            <h1 style="font-size: 1.5em">
              <a href="#firefolio-website-modal" rel="modal:open">
                {application_name}
                <small>
                  v{major_version}.{minor_version}.{patch}
                </small>
              </a>
            </h1>
          </li>
          <li>
            <a href="#projects-modal" rel="modal:open">
              Projects
            </a>
          </li>
          <li>
            <a href="#profile-modal" rel="modal:open">
              Profile
            </a>
          </li>
          <li>
            <a href="#profile-modal" rel="modal:open">
              Administration
            </a>
          </li>
        </div>
        <div class="u-pull-right">
          <li>
            <a href="{base_url}{index_page}/project/{uri}" target="_blank">
              Preview
            </a>
          </li>
          <li>
            <a href="#logout-modal" rel="modal:open">
              Logout
            </a>
          </li>
          <li class="hidden">
            &#9776;
            <span class="visuallyhidden">Open Navbar</span>
          </li>
        </div>
      </ul>
    </nav>

    <div class="container">
      <header class="row">
        <!-- We use {header} instead of {title} here because it's had its markup escaped -->
        <h1>Update {header}</h1>
        <hr>
      </header>

      <!-- Content -->
      <section class="row">
        <div class="one-full column">
          <form
          id="form"
          action="{base_url}{index_page}/backend/projects/update/{uri}/attempt"
          method="POST">
            <!-- Hidden Inputs -->
            <!-- Base URL -->
            <input
            id="base-url"
            type="hidden"
            value="{base_url}">
            <!-- Index Page -->
            <input
            id="index-page"
            type="hidden"
            value="{index_page}">
            <!-- Anti CSRF -->
            <input
            id="csrf"
            type="hidden"
            name="{csrf_name}"
            value="{csrf_hash}">
            <!-- Redirect URL -->
            <input
            id="redirect-url"
            type="hidden"
            value="{base_url}{index_page}/backend/projects">
            <!-- ID -->
            <!-- This is used to verify the AJAX request -->
            <input
            type="hidden"
            name="id"
            value="{id}">
            <!-- URI -->
            <!-- Original -->
            <input
            id="original-uri"
            type="hidden"
            name="original_uri"
            value="{uri}">
            <!-- Current -->
            <input
            id="uri"
            type="hidden"
            name="uri"
            value="{uri}">

            <!-- Visible Inputs -->
            <div class="row">
              <div class="one-half column">
                <label for="title">Title</label>
                <input
                class="u-full-width"
                type="text"
                name="title"
                value="{title}"
                required>
              </div>
              <div class="one-half column">
                <label for="subtitle">Subtitle</label>
                <input
                class="u-full-width"
                type="text"
                name="subtitle"
                value="{subtitle}">
              </div>
            </div>
            <div class="row">
              <div class="one-half column">
                <label for="description">Description (Code)</label>
                <textarea
                id="description"
                class="u-full-width"
                style="min-height: 256px"
                name="description">{description}</textarea>
              </div>
              <div class="one-half column">
                <label for="preview">Description (Preview)</label>
                <div id="description-preview">
                  <!-- {preview} here is used instead of {description}
                       because it's also been escaped -->
                  {preview}
                </div>
              </div>
            </div>
            <!-- Thumbnail -->
            <div class="row">
              <div class="eight columns">
                <label for="thumbnail">Thumbnail</label>
                <input
                class="u-full-width"
                type="text"
                name="thumbnail"
                value="{thumbnail}">
              </div>
              <div class="four columns">
                <img
                width="66%"
                height="auto"
                src="{thumbnail}"
                alt="{title} Project Thumbnail Preview">
              </div>
            </div>
            <!-- Trailer -->
            <div class="row">
              <div class="eight columns">
                <label for="trailer">Trailer</label>
                <input
                class="u-full-width"
                type="text"
                name="trailer"
                value="{trailer}">
              </div>
              <div class="four columns">
                <img
                width="66%"
                height="auto"
                src="{thumbnail}"
                alt="{title} Project Trailer Preview">
              </div>
            </div>
            <div class="row">
              <div class="one-half column">
                <!-- Language -->
                <label for="language">Language</label>
                <input
                id="autocomplete"
                class="u-full-width"
                type="text"
                name="language"
                value="{language}">
              </div>
              <div class="one-half column">
                <label for="date">Date</label>
                <input id="datepicker" class="u-full-width" type="text" name="date" value="{date}">
              </div>
            </div>
            <div class="row">
              <!-- Visibility -->
              <div class="four columns">
                <label for="visibility">Visibility</label>
                <select
                class="u-full-width"
                name="visibility">
                  {visibilities}
                    <option
                    value="{visibility}">{visibility}</option>
                  {/visibilities}
                </select>
              </div>
              <!-- Status -->
              <div class="four columns">
                <label for="status">Status</label>
                <select
                class="u-full-width"
                name="status">
                {statuses}
                  <option
                  value="{visibility}">{status}</option>
                {/statuses}
                </select>
              </div>
              <!-- Purpose -->
              <div class="four columns">
                <label for="purpose">Purpose</label>
                <input
                class="u-full-width"
                type="text"
                name="purpose"
                value="{purpose}">
              </div>
            </div>
            <div class="row">
              <div class="three columns">
                <button class="button-primary u-full-width" type="submit" name="button">
                  Finish
                </button>
              </div>
              <div class="three columns">
                <a id="save" class="button u-full-width">
                  Save
                </a>
              </div>
              <div class="three columns">
                <button class="u-full-width" type="reset" name="button">
                  Reset
                </button>
              </div>
              <div class="three columns">
                <a
                class="button u-full-width"
                href="{base_url}{index_page}/backend/projects">
                  Cancel
                </a>
              </div>
            </div>
          </form>
        </div>
      </section>

      <footer class="row">
        <small>
          Firefolio Copyright &copy; 2018 Callum John @ItsSeaJay
        </small>
      </footer>
    </div>

    <!-- Modals -->
    <!-- Firefolio Website -->
    <div id="firefolio-website-modal" class="modal">
      <div class="container">
        <section class="row">
          <div class="one-full column">
            <h1>Warning!</h1>
            <p>
              Are you sure you want to navigate away from the page?
              All unsaved changes will be lost...
            </p>
          </div>
        </section>
        <section class="row">
          <div class="one-half column">
            <a
            href="{website}"
            class="button button-primary u-full-width">
              Confirm
            </a>
          </div>
          <div class="one-half column">
            <a
            href="#firefolio-website-modal"
            rel="modal:close"
            class="button u-full-width">
              Cancel
            </a>
          </div>
        </section>
      </div>
    </div>
    <!-- Logout -->
    <div id="logout-modal" class="modal">
      <div class="container">
        <section class="row">
          <div class="one-full column">
            <h1>Warning!</h1>
            <p>
              Are you sure you want to logout?
              All unsaved changes will be lost...
            </p>
          </div>
        </section>
        <section class="row">
          <div class="one-half column">
            <a
            href="{base_url}{index_page}/logout"
            class="button button-primary u-full-width">
              Confirm
            </a>
          </div>
          <div class="one-half column">
            <a
            href="#firefolio-website-modal"
            rel="modal:close"
            class="button u-full-width">
              Cancel
            </a>
          </div>
        </section>
      </div>
    </div>
    <!-- Projects View -->
    <div id="projects-modal" class="modal">
      <div class="container">
        <section class="row">
          <div class="one-full column">
            <h1>Warning!</h1>
            <p>
              Are you sure you want to navigate away from the page?
              All unsaved changes will be lost...
            </p>
          </div>
        </section>
        <section class="row">
          <div class="one-half column">
            <a
            href="{base_url}{index_page}/backend/projects"
            class="button button-primary u-full-width">
              Confirm
            </a>
          </div>
          <div class="one-half column">
            <a
            href="#firefolio-website-modal"
            rel="modal:close"
            class="button u-full-width">
              Cancel
            </a>
          </div>
        </section>
      </div>
    </div>
    <!-- Profile Update -->
    <div id="profile-modal" class="modal">
      <div class="container">
        <section class="row">
          <div class="one-full column">
            <h1>Warning!</h1>
            <p>
              Are you sure you want to navigate away from the page?
              All unsaved changes will be lost...
            </p>
          </div>
        </section>
        <section class="row">
          <div class="one-half column">
            <a
            href="{base_url}{index_page}/backend/profile"
            class="button button-primary u-full-width">
              Confirm
            </a>
          </div>
          <div class="one-half column">
            <a
            href="#firefolio-website-modal"
            rel="modal:close"
            class="button u-full-width">
              Cancel
            </a>
          </div>
        </section>
      </div>
    </div>

    <!-- Scripts -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script
	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	  crossorigin="anonymous"></script>

    <script src="{base_url}js/utilities/fallback.js"></script>
    <script src="{base_url}js/utilities/to_ascii.js"></script>
    <script src="{base_url}js/utilities/ajax.js"></script>
    <script src="{base_url}js/utilities/debounce.js"></script>

    <script src="{base_url}js/firefolio/project/update.js"></script>
    <script src="{base_url}js/firefolio/project/description.js"></script>
    <script src="{base_url}js/firefolio/datepicker.js"></script>
    <script src="{base_url}js/firefolio/languages/autocomplete.js"></script>
    <link rel="stylesheet" href="{base_url}js/vendor/jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </body>
</html>
