<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{application_name} Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{base_url}css/normalize.css">
        <link rel="stylesheet" href="{base_url}css/boilerplate.css">
        <link rel="stylesheet" href="{base_url}css/skeleton.css">
        <link rel="stylesheet" href="{base_url}css/firefolio.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong>
            browser. Please <a href="https://browsehappy.com/">upgrade your
            browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Content -->
        <div class="container">
          <section class="row">
            <div class="one-half column">
              <div class="u-view-height">
                <a class="button" href="../" style="top: 16px">
                  <img
                  src="{base_url}img/icons/open-iconic/arrow-left.svg"
                  width="16px"
                  height="16px"
                  alt="Left Arrow">
                  Back to frontend
                </a>

                <!-- Hidden Inputs -->
                <!-- Base URL -->
                <input
                id="base-url"
                class="hidden"
                type="hidden"
                text="text"
                value="{base_url}">
                <!-- Index Page -->
                <input
                id="index-page"
                class="hidden"
                type="hidden"
                text="text"
                value="{index_page}">
                <!-- Anti CSRF -->
                <input
                id="csrf"
                class="hidden"
                type="hidden"
                text="text"
                name="{csrf_name}"
                value="{csrf_hash}">
                <!-- Redirect URL -->
                <input
                id="redirect-url"
                class="hidden"
                type="hidden"
                text="text"
                name="redirect_url"
                value="{base_url}{index_page}/backend/projects">

                <!-- Login Form -->
                <form
                id="form"
                class="login u-center-vertical"
                action="{base_url}{index_page}/login/attempt"
                method="POST"
                hidden>
                  <div class="row">
                    <div class="one-full column">
                      <!-- Visible Inputs -->
                      <!-- Username -->
  	                  <label for="username">Username</label>
                      <input
                      id="username"
                      class="u-full-width"
                      type="text"
                      name="username"
                      placeholder="Username">
                      <label for="password">Password</label>
                      <input
                      id="password"
                      class="u-full-width"
                      type="password"
                      name="password"
                      placeholder="Password">
                    </div>
                  </div>
                  <div class="row">
                    <input
                    id="submit"
                    type="submit"
                    name="submit"
                    value="Submit">
                  </div>
                  <!-- Copyright Notice -->
                  <small>
                    {application_name} Copyright &copy; Callum John 2018 <br>
                    Released under the terms of the MIT Open Source License
                  </small>
                </form>
              </div>
            </div>
            <div class="one-half column">
              <!-- Back Button -->
              <div class="u-view-height">
                <img
                id="logo"
                class="u-center-both"
                style="text-align: center"
                width="64%"
                height="auto"
                src="{base_url}img/firefolio/icon-grey.svg"
                alt="Left Arrow">

                <!-- Error Display -->
                <div id="error" class=""></div>
              </div>
            </div>
        </div>

        <!-- Scripts -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
        <script src="{base_url}js/utilities/fallback.js"></script>
        <script src="{base_url}js/utilities/ajax.js"></script>
        <script src="{base_url}js/firefolio/login.js"></script>
    </body>
</html>
