<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Firefolio Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <link rel="stylesheet" href="{base_url}css/normalize.css">
        <link rel="stylesheet" href="{base_url}css/boilerplate.css">
        <link rel="stylesheet" href="{base_url}css/skeleton.css">
        <link rel="stylesheet" href="{base_url}css/firefolio.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="container">
          <header class="row header">
            <h1>Firefolio</h1>
            <a href="../">
              &lt; Back to frontend
            </a>
          </header>

          <section class="row">
            <div class="one-half column">
              <form
              id="form"
              class="login"
              action="{base_url}index.php/firefolio/projects"
              method="POST">
                <div class="row">
                  <div class="one-full column">
                    <!-- Hidden Inputs -->
                    <input
                    id="base-url"
                    class="hidden"
                    type="hidden"
                    text="text"
                    value="{base_url}">
                    <input
                    id="csrf"
                    class="hidden"
                    type="hidden"
                    text="text"
                    name="{csrf_name}"
                    value="{csrf_hash}">
                    <input
                    id="redirect-url"
                    class="hidden"
                    type="hidden"
                    text="text"
                    name="redirect_url"
                    value="{base_url}index.php/firefolio/projects">

                    <!-- Username and Password Inputs -->
	                  <label for="username">Username</label>
                    <input
                    id="username"
                    class="u-full-width"
                    type="text"
                    name="username"
                    placeholder="Username">
                    <label for="password">Password</label>
                    <input
                    id="password"
                    class="u-full-width"
                    type="password"
                    name="password"
                    placeholder="Password">
                  </div>
                </div>
                <div class="row">
                  <input
                  id="submit"
                  type="submit"
                  name="submit"
                  value="Submit">
                </div>
              </form>
            </div>
            <div class="one-half column">
              <div id="error" class=""></div>
            </div>
          </section>

          <footer class="row footer">
            <small>
              Firefolio Copyright &copy; Callum John 2018 <br>
              Released under the terms of the MIT Open Source License
            </small>
          </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
        <script>
        window.jQuery || document.write(
          '<script src="{base_url}js/vendor/jquery-3.2.1.min.js"><\/script>'
        );
        </script>
        <script src="{base_url}js/utilities/ajax.js"></script>
        <script src="{base_url}js/firefolio/login.js"></script>
    </body>
</html>
