<nav id="navbar" class="clearfix">
  <ul>
    <div class="u-pull-left">
      <li id="open-navbar">
        <a
        href="#">
          <img
          width="16px"
          height="auto"
          src="{base_url}img/firefolio/icon.svg"
          alt="List Icon">
          {application_name}
          <small>
            v{major_version}.{minor_version}.{patch}
          </small>
        </a>
      </li>
      <li>
        <a href="{base_url}{index_page}/backend/projects">
          <img
          width="16px"
          height="16px"
          src="{base_url}img/icons/open-iconic/list.svg"
          alt="List Icon">
          Projects
        </a>
      </li>
      <li>
        <a href="{base_url}{index_page}/backend/profile">
          <img
          width="16px"
          height="16px"
          src="{base_url}img/icons/open-iconic/person.svg"
          alt="Person Icon">
          Profile
        </a>
      </li>
      <li>
        <a href="{base_url}{index_page}/backend/administration">
          <img
          width="16px"
          height="16px"
          src="{base_url}img/icons/open-iconic/wrench.svg"
          alt="Wrench Icon">
          Administration
        </a>
      </li>
      <li>
        <a href="{base_url}{index_page}/backend/about">
          <img
          width="16px"
          height="16px"
          src="{base_url}img/icons/open-iconic/question-mark.svg"
          alt="About Icon">
          About
        </a>
      </li>
    </div>
    <div class="u-pull-right">
      <li>
        <a href="{base_url}" target="_blank">
          <img
          width="16px"
          height="16px"
          src="{base_url}img/icons/open-iconic/eye.svg"
          alt="Eye Icon">
          Frontend
        </a>
      </li>
      <li>
        <a href="{base_url}{index_page}/logout">
          <img
          width="16px"
          height="16px"
          src="{base_url}img/icons/open-iconic/account-logout.svg"
          alt="Logout Icon">
          Logout
        </a>
      </li>
    </div>
  </ul>
</nav>
