<!doctype html>
<html class="no-js">
    <head>
      <title>Administration - Firefolio</title>

      <!-- Meta Data -->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">

      <link rel="stylesheet" href="{base_url}css/normalize.css">
      <link rel="stylesheet" href="{base_url}css/boilerplate.css">
      <link rel="stylesheet" href="{base_url}css/skeleton.css">
      <link rel="stylesheet" href="{base_url}css/firefolio.css">
    </head>
    <body>
      <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong>
          browser. Please <a href="https://browsehappy.com/">upgrade your
          browser</a> to improve your experience and security.</p>
      <![endif]-->

      <!-- Navigation Bar -->
      {navbar}

      <!-- Content -->
      <div class="container">
        <!-- Header -->
        <header class="row">
          <div class="one-full column">
            <h1>Administration</h1>
          </div>
        </header>
        <!-- Administration Controls -->
        <!-- Update -->
        <section class="row">
          <div class="one-half column">
            <!-- Username -->
            <form
            id="update-username"
            action="{base_url}{index_page}/backend/administration/update/username"
            method="POST">
              <!-- Hidden Inputs -->
              <input
              id="base-url"
              class="hidden"
              type="hidden"
              name="base_url"
              value="{base_url}">
              <input
              id="base-url"
              class="hidden"
              type="hidden"
              name="index_page"
              value="{index_page}">
              <input
              id="csrf"
              class="hidden"
              type="hidden"
              name="{csrf_name}"
              value="{csrf_hash}">

              <div class="row">
                <div class="one-full column">
                  <label for="username">Username</label>
                  <input
                  id="new-username"
                  class="u-full-width"
                  type="text"
                  name="username"
                  value="{username}"
                  required>
                </div>
              </div>
              <div class="row">
                <div class="one-third column">
                  <button
                  class="u-full-width"
                  type="submit"
                  name="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
          <div class="one-half column">
            <form
            id="update-password">
              <!-- Hidden Inputs -->
              <input
              id="base-url"
              class="hidden"
              type="hidden"
              name="base_url"
              value="{base_url}">
              <input
              id="base-url"
              class="hidden"
              type="hidden"
              name="index_page"
              value="{index_page}">
              <input
              id="csrf"
              class="hidden"
              type="hidden"
              name="{csrf_name}"
              value="{csrf_hash}">

              <div class="row">
                <label for="new-password">Password</label>
                <input
                id="new-password"
                class="u-full-width"
                type="password"
                name="new-password"
                value=""
                required>
              </div>
              <div class="row">
                <label for="new-password">Confirm Password</label>
                <input
                id="new-password-confirmation"
                class="u-full-width"
                type="password" name="confirm-new-password"
                value=""
                required>
              </div>
              <div class="row">
                <div class="one-third column">
                  <button
                  class="u-full-width"
                  type="submit"
                  name="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>

      <!-- Scripts -->
      <!-- Libraries -->
      <!-- JQuery -->
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

      <!-- Utilities -->
      <script src="{base_url}js/utilities/fallback.js"></script>
      <script src="{base_url}js/utilities/ajax.js"></script>

      <!-- {application_name} -->
      <script src="{base_url}js/firefolio/administration/update.js"></script>
    </body>
</html>
