<!doctype html>
<html class="no-js">
    <head>
      <title>Administration - Firefolio</title>

      <!-- Meta Data -->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">

      {stylesheets}
    </head>
    <body>
      <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong>
          browser. Please <a href="https://browsehappy.com/">upgrade your
          browser</a> to improve your experience and security.</p>
      <![endif]-->

      <!-- Navigation Bar -->
      {navbar}

      <!-- Content -->
      <div class="container">
        <!-- Header -->
        <header class="row">
          <div class="one-full column">
            <h1>Administration</h1>
          </div>
        </header>

        <!-- Hidden Inputs -->
        <input
        id="base_url"
        class="hidden"
        type="hidden"
        name="base_url"
        value="{base_url}">
        <input
        id="index_page"
        class="hidden"
        type="hidden"
        name="index_page"
        value="{index_page}">
        <input
        id="csrf"
        class="hidden"
        type="hidden"
        name="{csrf_name}"
        value="{csrf_hash}">

        <div class="tabbed">
          <!-- Tab List -->
          <ul>
            <li>
              <a href="#tab-1">Username</a>
            </li>
            <li>
              <a href="#tab-2">Password</a>
            </li>
          </ul>

          <div id="tab-1">
            <!-- Username -->
            <form
            id="update-username"
            action="{base_url}{index_page}/backend/administration/update/username"
            method="POST">
              <div class="row">
                <div class="one-full column">
                  <label for="username">Username</label>
                  <input
                  id="new-username"
                  class="u-full-width"
                  type="text"
                  name="username"
                  value="{username}">
                </div>
              </div>
              <div class="row">
                <div class="one-third column">
                  <button
                  class="u-full-width"
                  type="submit"
                  name="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
          <div id="tab-2">
            <!-- Password -->
            <form
            id="update-password"
            action="{base_url}{index_page}/backend/administration/update/password"
            method="POST">
              <div class="row">
                <label for="new-password">Password</label>
                <input
                class="u-full-width"
                type="password"
                name="password">
              </div>
              <div class="row">
                <label for="new-password">Confirm Password</label>
                <input
                class="u-full-width"
                type="password"
                name="confirmation">
              </div>
              <div class="row">
                <div class="one-third column">
                  <button
                  class="u-full-width"
                  type="submit"
                  name="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="error"></div>
      </div>

      <!-- Scripts -->
      <!-- Libraries -->
      <!-- JQuery -->
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <!-- JQuery UI -->
      <script
  	  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  	  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  	  crossorigin="anonymous"></script>
      <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <!-- Utilities -->
      <script src="{base_url}js/utilities/fallback.js"></script>
      <script src="{base_url}js/utilities/ajax.js"></script>
      <script src="{base_url}js/utilities/tabs.js"></script>

      <!-- {application_name} -->
      <script src="{base_url}js/firefolio/administration/update.js"></script>
    </body>
</html>
