<!doctype html>
<html class="no-js">
  <head>
    <title>Profile - Firefolio</title>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{base_url}css/normalize.css">
    <link rel="stylesheet" href="{base_url}css/boilerplate.css">
    <link rel="stylesheet" href="{base_url}css/skeleton.css">
    <link rel="stylesheet" href="{base_url}css/firefolio.css">
  </head>
  <body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong>
        browser. Please <a href="https://browsehappy.com/">upgrade your
        browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Navigation Bar -->
    {navbar}

    <div class="container">
      <section class="row">
        <div class="one-full column">
          <h1>Profile</h1>
          <hr>
        </div>
      </section>
      <section class="row">
        <div class="one-full column">
          <form id="form">
            <!-- Hidden Inputs -->
            <input
            id="base-url"
            type="hidden"
            value="{base_url}">
            <input
            id="csrf"
            type="hidden"
            name="{csrf_name}"
            value="{csrf_hash}">

            <!-- Visible Inputs -->
            <div class="row">
              <div class="one-third column">
                <label for="first_name">First Name</label>
                <input
                class="u-full-width"
                type="text"
                name="first_name"
                value="{first_name}">
              </div>
              <div class="one-third column">
                <label for="middle_name">Middle Name</label>
                <input
                class="u-full-width"
                type="text"
                name="middle_name"
                value="{middle_name}">
              </div>
              <div class="one-third column">
                <label for="last_name">Last Name</label>
                <input
                class="u-full-width"
                type="text"
                name="last_name"
                value="{last_name}">
              </div>
            </div>
            <div class="row">
              <button type="submit" name="submit">
                Update
              </button>
            </div>
          </form>
        </div>
      </section>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="{base_url}js/utilities/fallback.js"></script>
    <script src="{base_url}js/firefolio/profile/update.js"></script>
  </body>
</html>
